
table{
    border-collapse: collapse;

    
}
td{
    border: solid 1px black;
    width: 100px;    
    height: 100px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.numero{
    background-color: yellow;
}

.numero:hover{
    background-color: blue;
}
    